
<% include ../partials/header %>

<div class="container">
  <div class="row">
<div class="btn-group btn-group-justified">
  <a href="/votes"><button class='btn btn-default'>All Votes </button class='btn btn-default'></a>
<%  if(user){     %>
    <a href="/user"> <button class='btn btn-default'>Votes by: <%- user.username %> </button class='btn btn-default'></a>
<%  } else {  %>
    <span></span>
<%    }  %>

</div>


<div class="panel-group">
<% options.map(vote=>{ %>
  <div class="panel panel-default">
    <div class="panel-body">
      Title: <%= vote.options.title %>  - <em>created by <strong><%= vote.user  %></strong></em>
      <a href="/votes/<%= vote._id %>"><button class='btn btn-primary pull-right'>Show</button></a>
    </div>
  </div>
<% }) %>
</div>
    <a href="/votes/new">Create a new Vote</a>
  </div>
</div>
